################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/LifeTapLifeCounter/AppPackages/
/LifeTapLifeCounter/BundleArtifacts/
/LifeTapLifeCounter/bin
/LifeTapLifeCounter/obj
/LifeTapLifeCounter/*.user
*.pfx
Package.appxmanifest
Package.StoreAssociation.xml